<!DOCTYPE html>
<html>
<head><title>Add Movie</title></head>
<body>
    <h2>Add a New Movie</h2>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label>Movie ID:</label><br>
        <input type="text" name="movie_id"><br><br>
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>Director:</label><br>
        <input type="text" name="director"><br><br>
        <label>Language:</label><br>
        <input type="text" name="language"><br><br>
        <label>Genre:</label><br>
        <input type="text" name="genre"><br><br>
        <label>Rating:</label><br>
        <input type="text" name="rating"><br><br>
        <label>Year:</label><br>
        <input type="text" name="year"><br><br>
        <input type="submit" value="Add Movie">
    </form>
    <br>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>