<!DOCTYPE html>
<html>
<head><title>Movie Finder Dashboard</title></head>
<body>
    <h1>Movie Finder Dashboard</h1>
    <p><a href="/View_movies"><button>View All Movies</button></a></p>
    <p><a href="/search"><button>Search Movie</button></a></p>
    <p><a href="/direction_search"><button>Search by Director</button></a></p>
    <p><a href="/language_search"><button>Search by Language</button></a></p>
    <p><a href="/rating_search"><button>Search by Rating</button></a></p>
    <p><a href="/add_movie"><button>Add Movie</button></a></p>
    <p><a href="/delete_movie"><button>Delete Movie</button></a></p>
</body>
</html>