{% extends "base.html" %}

{% block title %}
SNS - Login
{% endblock %}

{% block navmenu %}
<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
{% endblock %}

{% block content %}

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == "msg" %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% elif category == "err" %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
</div>

<div style="text-align: center;">

    <h2>Login</h2>

    <form action="{{ url_for('login') }}" method="POST">

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <!-- Forgot Password -->
        <div class="forgot-password">

            <a href="{{ url_for('forgot_password') }}">
                Forgot Password?
            </a>

        </div>

        <div>
            <button type="submit">
                Login
            </button>
        </div>

        <p>
            Don't have an account?
            <a href="{{ url_for('register') }}">Register</a>
        </p>

    </form>

</div>

{% endblock %}